* {
  background-color: white;
}

.calculator__container {
  height: 500px;
  width: 300px;
  margin-left: 100px;
  margin-top: 100px;
  background-color: black;
  border: solid 2px black;

  .calculator__buttonContainer {
    width: 250px;
    margin-left: 15px;
    margin-top: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: black;
    display: grid;
    column-gap: 5px;
    row-gap: 10px;

    .grey {
      background-color: grey;
    }

    .right {
      background-color: orange;
    }

    .top {
      background-color: rgb(190, 190, 190);
    }

    .calculator__button {
      border-radius: 50%;
      height: 60px;
      width: 60px;

      button {
        margin-left: 23px;
        margin-top: 20px;
      }
    }
  }

  .calculator__bottomRowButtonContainer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    height: 80px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: black;
    width: 270px;

    .grey {
      background-color: grey;
    }

    .right {
      background-color: orange;
    }

    .calculator__button {
      border-radius: 50%;
      height: 60px;
      width: 60px;

      button {
        margin-left: 23px;
        margin-top: 20px;
      }
    }

    #zeroButton {
      width: 110px;
      border-radius: 35%;

      button {
        margin-left: 70px;
        margin-top: 20px;
      }
    }
  }

  .calculator__display {
    height: 100px;
    background-color: aqua;
    margin-top: 0px;
  }

  .calculator__displayContent {
    padding-top: 40px;
    margin-top: 0px;
    font-size: 50px;
    text-align: end;
  }
}
